name: first workflow

on: 
  push: 
    branches:
      -main

jobs: 
  example-job:
    runs-on: ubuntu-latest

    steps: 
      - name: print welcome message
        run: echo "welcome to first githup actions"

      - name: checkout repository
        uses: actions/checkout@v6.0.1

      


        
